 /* Global Styles */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

/* Header Styling */
header {
    background-color: #393e46;
    padding: 20px;
    text-align: center;
    color: white;
    animation: slideInFromTop 1s ease-out;
}

.header-hover:hover {
    background-color: #dcdde1;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}

/* Table Styling */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    animation: fadeIn 2s ease-in;
    margin-top: 60px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #dcdde1;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}

/* Add Product Form */
.add-product-form {
    margin: 20px auto;
    text-align: center;
    margin-top: 100px;
    font-family: fantasy;
}


.add-product-form input {
    padding: 10px;
    margin: 5px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.color {
	color: #393e46;
}

.SumColor {
    color: #fd7014;
}


.add-product-form button {
    padding: 10px 20px;
    background-color: #222831;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-product-form button:hover {
    background-color: #ccc;
	font-family: fantasy;
}

.total-container {
    margin-left: 150px;
}


/* Footer Styling */
footer {
    background-color: #393e46;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    animation: fadeIn 2s ease-in;
}

/* Keyframe Animations */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    table {
        width: 95%; 
    }
    
    th, td {
        padding: 10px; 
        font-size: 14px; 
    }
    
    .add-product-form input {
        width: 90%; 
        margin: 10px auto;
        font-size: 16px;
    }

    .add-product-form button {
        width: 95%; 
        padding: 12px;
        font-size: 16px;
    }

    footer {
        font-size: 14px; 
    }
}

@media (max-width: 600px) {
    header {
        padding: 15px; 
        font-size: 18px; 
    }

    th, td {
        font-size: 12px; 
    }

    .add-product-form input, .add-product-form button {
        width: 100%; 
    }

    footer {
        font-size: 12px; /
    }
}

.custom-img {
	background-image: url(/image/image1.png);
}
